{% extends 'base.html' %}

{% block title %} Play {% endblock %}
    
{% block content %}


        <div class="row align-items-center mt-5">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              SELECT YOUR OPERATOR
            </button>
            <ul class="dropdown-menu text-center">
              <li><a class="dropdown-item" href="/equations/addition">+  Addition  +</a></li>
              <li><a class="dropdown-item" href="/equations/subtraction">-  Subtraction  -</a></li>
              <li><a class="dropdown-item" href="/equations/multiplication">x  Multiplication  x</a></li>
              <li><a class="dropdown-item" href="/equations/division">/  Division  /</a></li>
              <li><a class="dropdown-item" href="/equations/random">+-x/  Random  /x-+</a></li>
            </ul>
        </div>
   


{% endblock %}