{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1 class="text-center">Sign Up</h1>

<form action="" class="bg-dark rounded mt-3 p-5" method="post">
    
    {{ form.csrf_token }}

    {{ form.username.label }}
    {{ form.username(class='form-control', placeholder='Enter Username') }}

    {{ form.password.label }}
    {{ form.password(class='form-control', placeholder='Enter Password') }}

    {{ form.submit(class='btn btn-light w-100 mt-3') }}
</form>
{% endblock %}