{% extends 'base.html' %}

{% block title %} My Info {% endblock %}


{% block content %}

    <div class="card-body align-items-center">
        <h1 class="text-center mt-5 mb-5">Your Information</h1>
        
        <h5 class="text-center">Username</h5>
        <h2 class="text-center mb-5"> {{ current_user.username }}</h2>

        <h5 class="text-center mt-5">Email Address</h5>
        <h2 class="text-center mb-5"> {{ current_user.email }}</h2>


        <a href="{{ url_for('edit_user', user_id=current_user.id) }}" class="btn btn-dark mt-5 align-items-center">Edit Info</a>

        <button type="button" class="btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Account
        </button>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete {{ user.username }}?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete the account for {{ user.username }}? This action cannot be undone and all data will be lost.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary">Delete Account</button>
                </div>
            </div>
        </div>
    </div>


<!-- {% for score in scores %}
        <div class="card my-3">
            <div class="card-header">
            {{ post.title }}
            </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ post.body }}</p>
                <footer class="blockquote-footer">{{ post.author.username }}<cite title="Source Title"> {{ post.date_created.strftime('%c') }} </cite></footer>
            </blockquote>
            <a href="{{ url_for('get_post', post_id=post.id) }}" class="btn btn-primary mt-3">See More</a>
            </div>
        </div>
{% endfor %} -->






    

{% endblock %}