{% extends 'base.html' %}

{% block title %} Play {% endblock %}


{% block content %}

        <h1 class="text-center mt-5">{{ equation }}</h1>
        <div class="align-items-center">
            <form action="" class="bg-white rounded mt-3 p-5 align-items-center" method="post">
                
                {{ form.answer.label(class='text-center') }}
                {{ form.answer(class='form-control text-center', placeholder='Enter Answer') }}

                {{ form.submit(class='btn btn-light w-100 mt-3') }}
            </form>

        </div>
        <div class="card text-center mt-3 mb-3">
            <div class="card-body col-md">
              <h5 class="card-title">Score</h5>
              <h1 class="text-center">{{ form.score(class='text-center') }}</h1>
            </div>
        </div>
        <div class="card text-center mt-3 mb-3">
            <div class="card-body col-md">
                <h1>{{ countdown }} </h1>
            </div>
        </div>

    


{% endblock %}